.container {
  padding: 2rem;
  background-image: url("/space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  backdrop-filter: brightness(0.8);
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgray;
  width: 200px;
}

.buttonSearch {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
}

.buttonReset {
  padding: 10px 20px;
  border-radius: 8px;
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
}

.loading {
  text-align: center;
}

.notFound {
  text-align: center;
  color: red;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
